/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    color: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

input[type="submit"],
input[type="button"],
input[type="date"],
button {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
}

select {
    // border-right: 16px solid transparent !important;
    width: 100%;
    padding: 10px;
    border: 1px solid #dcdcdc;
    -webkit-appearance: none;
    outline: none;

    font-family: inherit; /* Use the same font as the surrounding text */
    font-size: inherit; /* Match font size */
    color: inherit;
    border-radius: 8px;
    background: url("../../images/arrow.svg"), white;
}

// No Margin No Padding Utility Classes
.n_m_b {
    margin-bottom: 0 !important;
}
.n_m_t {
    margin-top: 0 !important;
}
.n_p_b {
    padding-bottom: 0 !important;
}
.n_p_t {
    padding-top: 0 !important;
}

.n_p_b {
    padding-bottom: 0 !important;
}

// Background Light Red Utility Class
.bg_light_red {
    background-color: #FFF6F6 !important;
}

.loader {
    &.hero_section{
        position: absolute;
        z-index: 99999;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background: white;
    }
}

.loader .spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5em;
    color: $uiBlack;  /* Ensure text is visible over the confetti */
    z-index: 10;  /* Ensures the spinner is on top of the confetti */
}