$fa-font-path: "../webfonts";
$priFont: "DM Sans", sans-serif;
$secFont: "Caprasimo", serif;
$arFont: "Rubik", sans-serif;
$priColor: #e92827;
$priColor60: #ffdddd;
$priColor50: #fde3e9;
$priColor20: #fef2f2;
$priColor10: #fffafa;
$secColor: #03b9a5;
$white: #fff;
$uiBlack: #303030;
$uiGray: #4e4e4e;
$uiLightGray: #8d8d8d;
$uiLightGray: #e5e5e5;
$blueGray: #383f42;
$uiGray80: #6e6e6e;
$uiGray60: #707070;
$uiGray40: #b3b3b3;
$uiGray90: #434343;
$secColor60: #e3fdfa;
$pink: #ff6edc;
$transparent: transparent;

// Bootstrap Breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
