.faqs-container {
    padding: 50px 0;
    max-width: 1230px;
    margin: 0 auto;
    .container {
        padding: 0px 0px !important;
    }
    .my-grid {
        .row {
            margin: auto;
            width: 100%;
            row-gap: 24px;
        }
        .grid-item {
            background-color: $priColor10;
            text-align: center;
            padding: 40px 20px;

            i {
                margin-bottom: 24px;
            }

            p {
                margin: 0;
                font: 600 24px/32px $priFont;
            }
        }
    }

    .popular-questions {
        display: flex;
        flex-direction: column;
        gap: 24px;
        align-items: center;
        padding: 100px 0;

        .heading {
            font: 400 56px/64px $secFont;
        }

        .accordion {
            width: 100%;
            max-width: 1020px;

            .accordion-item {
                // border-bottom: 1px solid #ddd;

                &:last-child {
                    border-bottom: none;
                }

                .accordion-header {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 15px 20px;
                    cursor: pointer;
                    transition: background-color 0.3s;
                    border-bottom: 1px solid $uiLightGray;
                    font: 700 22px/32px $priFont;

                    .toggle-icon {
                        // font-size: 1.5rem;
                        font: 700 22px/32px $priFont;
                        color: $uiBlack;
                    }
                    h3 {
                        font-family: $priFont;
                        font-size: 22px;
                        font-weight: 700;
                        line-height: 32px;
                        letter-spacing: 0.03em;

                        color: $uiBlack;
                    }
                }

                .accordion-content {
                    padding: 0 20px;
                    font: 400 16px/22px $priFont;

                    background-color: #fff;
                    height: 0;
                    overflow: hidden;
                    transition: height 0.3s ease-in-out,
                        padding 0.3s ease-in-out;
                    p {
                        font-family: $priFont;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 22px;
                        text-align: left;
                        color: $uiBlack;
                    }
                    &.expanded {
                        height: auto;
                        padding: 15px 20px;
                    }
                }
            }

            .open .accordion-header {
                background-color: #e9ecef;

                .toggle-icon {
                    content: "-";
                    color: #007bff;
                }
            }

            .open .accordion-content {
                height: auto;
                padding: 15px 20px;
            }
        }
    }
}
.popular-questions {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    padding: 100px 0;

    .heading {
        font: 400 56px/64px $secFont;
    }

    .accordion {
        width: 100%;
        max-width: 1020px;

        .accordion-item {
            // border-bottom: 1px solid #ddd;

            &:last-child {
                border-bottom: none;
            }

            .accordion-header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 15px 20px;
                cursor: pointer;
                transition: background-color 0.3s;
                border-bottom: 1px solid $uiLightGray;
                font: 700 22px/32px $priFont;

                .toggle-icon {
                    // font-size: 1.5rem;
                    font: 700 22px/32px $priFont;
                    color: $uiBlack;
                }
                h3 {
                    font-family: $priFont;
                    font-size: 22px;
                    font-weight: 700;
                    line-height: 32px;
                    letter-spacing: 0.03em;
                    color: $uiBlack;
                }
            }

            .accordion-content {
                padding: 0 20px;
                font: 400 16px/22px $priFont;

                background-color: #fff;
                height: 0;
                overflow: hidden;
                transition: height 0.3s ease-in-out,
                    padding 0.3s ease-in-out;
                p {
                    font-family: $priFont;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 22px;
                    text-align: left;
                    color: $uiBlack;
                }
                &.expanded {
                    height: auto;
                    padding: 15px 20px;
                }
            }
        }

        .open .accordion-header {
            background-color: #e9ecef;

            .toggle-icon {
                content: "-";
                color: #007bff;
            }
        }

        .open .accordion-content {
            height: auto;
            padding: 15px 20px;
        }
    }
}
@media screen and (max-width: 786px) {

    .popular-questions {
        padding: 24px 10px;
        gap: 32px;
        .heading {
            font: 400 28px/32px $secFont;
        }

        .accordion {
            .accordion-item {
                .accordion-header {
                    padding: 15px 10px;
                    h3 {

                    font: 700 18px/28px $priFont;
                }}

                .accordion-content {
                    padding: 0 10px;
                    font: 400 16px/22px $priFont;
                }
            }
        }
    }
    .faqs-container {
        .popular-questions {
            padding: 24px 0;
            gap: 32px;
            .heading {
                font: 400 24px/32px $secFont;
            }

            .accordion {
                .accordion-item {
                    .accordion-header  h3{
                        padding: 15px 10px;
                        font: 700 18px/32px $priFont !important;
                    }

                    .accordion-content {
                        padding: 0 10px;
                        font: 400 16px/22px $priFont;
                    }
                }
            }
        }
    }
    .faqs-container .my-grid .grid-item p {
        font-size: 14px;
        line-height: 20px;
    }
    .faqs-container .my-grid .grid-item i {
        font-size: 28px;
    }
}
