.product_listing {
    padding: 24px 0;
}


.card {
    width: 100%;
    border: 2px solid rgba(#E92827, .1);
    border-radius: 12px;
    background-color: $white;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;

    &_container {
        .card_image {
            width: 100%;
            aspect-ratio: 1;
            border-radius: 6px;
            overflow: hidden;
            background: #fafafa;
            position: relative;

            .floating-btn {
                animation-direction: normal;
                position: absolute;
                top: 14px;
                left: 14px;
                z-index: 2;
                background: #a8283c;
                border: none;
                padding: 5px 10px;
                cursor: pointer;
                font-size: 14px;
                line-height: 16px;
                font-weight: 500;
                color: #ffffff;
                border-radius: 20px;
                font-family: $priFont;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .card_content {
            display: flex !important;
            flex-direction: column;
            gap: 8px;
            padding: 12px;
            text-align: center;

            @include rtl {
                text-align: center;
            }

            .product-name {
                font-family: $priFont;
                font-size: 16px;
                font-weight: 700;
                line-height: 24px;
                text-align: center;
                text-wrap: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;

                @include rtl {
                    text-align: center;
                    font-family: $arFont;
                }
            }

            .stars {
                display: flex;
                gap: 4px;
                font-size: 16px;
                line-height: 24px;
                color: #6e6e6e;
            }

            .rats {
                font-family: $priFont;
                font-size: 18px;
                font-weight: 500;
                line-height: 24px;
                text-align: center;
                color: #6e6e6e;

                @include mobile {
                    font-size: 13px;
                }

                .icon-aed {
                    @include mobile {
                        font-size: 13px;
                    }
                }

                @include rtl {
                    text-align: center;
                    font-family: $arFont;
                }

                .red-text {
                    color: #e92827;
                    margin-left: 4px;
                    text-wrap: nowrap;
                }
            }
        }
    }

    &:hover {
        border: 2px solid rgba(#E92827, 1);
    }

}